<!DOCTYPE html>
<html x-ng-app="Dota2Draft">
 <head>
  <meta charset="utf-8">
  <title>Dota 2 Drafting</title>
  
  <link rel="stylesheet" href="http://shared.zeta-two.com/blueprint/screen.css" type="text/css" media="screen, projection"> 
  <link rel="stylesheet" href="http://shared.zeta-two.com/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]><link rel="stylesheet" href="http://shared.zeta-two.com/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
  <link rel="stylesheet" href="http://shared.zeta-two.com/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
  
  <link rel="stylesheet" href="css/style.css">
 
  <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  
  <base href="/development/dota2draft/">
 </head>
 <body>
  <div sub-key="sub-31bdff4f-8afa-11e1-b98e-3955e0de91cc" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
  <div id="wrapper">
   <div x-ng-view>
   
   </div>
  </div>
 </body>
</html>